<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EmployeesapiSuite">
<listeners>
<listener class-name="com.employeeapi.utilities.Listeners"/>
 </listeners>
<test thread-count="5" name="EmployeeapiTest">
<classes>
<class name="com.employeesapi.testcases.TC001_Get_All_Employees"/>
<class name="com.employeesapi.testcases.TC002_Get_Single_Emp_Rec"/>
<class name="com.employeesapi.testcases.TC003_Post_Emp_Rec"/>
<class name="com.employeesapi.testcases.TC004_Put_Emp_Rec"/>
<class name="com.employeesapi.testcases.TC005_Del_Emp_Rec"/>
</classes>
</test><!-- Test -->
</suite><!-- Suite -->